<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>About</title>
    {% load static %}
    <style>
      * {
        margin: 0;
        padding: 5px;
        box-sizing: border-box;
      }

      body {
        background-color: #ffd84d;
        padding: 20px;
      }
      .container {
        max-width: 1000px;
        margin: auto;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        overflow-y: auto;
        height: 90vh;
      }
      .section {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }
      .text {
        flex: 1;
        padding: 20px;
      }
      .text h1 {
        color: #333;
      }
      .text p {
        text-align: justify;
        color: #555;
      }
      .image {
        width: 40%;
        display: flex;
        justify-content: center;
      }
      .image img {
        max-width: 100%;
        border-radius: 10px;
      }
      .large-image img {
        max-width: 110%;
      }
      .table {
        width: 40%;
        border-collapse: collapse;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin-left: 20px;
      }
      .table th,
      .table td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
      }
      .table th {
        background-color: black;
        color: white;
      }
    </style>
    <link rel="stylesheet" href="{% static 'CSS/about_styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="section">
        <div class="text">
          <h1>Introducción</h1>
          <p>
            En el desarrollo de software, los analizadores léxicos, sintácticos
            y semánticos juegan un papel esencial en la interpretación y
            validación de código fuente. Estos componentes garantizan que los
            programas sean comprensibles y funcionales al detectar errores antes
            de la ejecución, lo que evita problemas que podrían impedir la
            correcta lectura o ejecución de instrucciones.
          </p>

          <p>
            El análisis léxico transforma el código en tokens, el análisis
            sintáctico verifica la estructura del lenguaje, y el análisis
            semántico asegura que las expresiones tengan sentido dentro del
            contexto del programa. Estas técnicas son ampliamente utilizadas en
            compiladores, intérpretes y herramientas de validación de código
            para lenguajes de programación bien establecidos, como los
            utilizados en bases de datos, procesamiento de números y otros
            dominios tradicionales.
          </p>
          <p>
            Sin embargo, cuando se trata de grafos, el desarrollo de
            herramientas especializadas para analizar su representación formal
            es menos común. A pesar de su importancia en múltiples disciplinas,
            como la teoría de redes, la optimización y la inteligencia
            artificial, la validación automática de gramáticas para grafos sigue
            siendo un área poco explorada. Este proyecto tiene como objetivo
            diseñar una gramática específica para la representación de grafos y
            desarrollar analizadores léxicos, sintácticos y semánticos que
            validen su correcta escritura y estructura. Al hacerlo, se busca
            ofrecer una solución innovadora que permita una validación precisa
            de grafos en diversos contextos, facilitando su interpretación y uso
            en aplicaciones computacionales.
          </p>
        </div>
        <div class="image">
          <img
            src="{% static 'imagenes/introduccion.png' %}"
            alt="Diagrama de autómata de pila"
          />
        </div>
      </div>
      <div class="section">
        <div class="text">
          <h1>Objetivos</h1>
          <h2><u>Objetivo General</u></h2>
          <p>
            Desarrollar un analizador para la validación de estructuras de
            grafos, permitiendo la detección de errores en su definición y
            representación.
          </p>
          <h2><u>Objetivos Específicos</u></h2>
          <ul>
            <li>
              Diseñar una gramática formal para la definición de grafos,
              incluyendo palabras reservadas, identificadores, números y
              símbolos especiales.
            </li>
            <li>
              Implementar un analizador léxico que identifique y clasifique los
              tokens de entrada.
            </li>
            <li>
              Desarrollar un analizador sintáctico que valide la correcta
              estructura de los grafos según las reglas definidas en la
              gramática.
            </li>
            <li>
              Incorporar un análisis semántico que verifique la coherencia de la
              información representada en los grafos.
            </li>
            <li>Crear un prototipo de interfaz en herramientas de diseño.</li>
          </ul>
        </div>
        <div class="image">
          <img
            src="{% static 'imagenes/objetivos.png' %}"
            alt="Diagrama de autómata de pila"
          />
        </div>
      </div>
      <div class="section">
        <div class="text">
          <h1>Marco Teórico</h1>
        </div>
      </div>

      <div class="grid-container">
        <div class="grid-item">
          <h2><b>Compilador</b></h2>
          <p>
            Un compilador es un programa que traduce código fuente escrito en un
            lenguaje de alto nivel a un lenguaje de bajo nivel, como el código
            de máquina. Este proceso ocurre antes de la ejecución, permitiendo
            que el programa se ejecute de manera independiente sin necesidad del
            código original.
          </p>
        </div>
        <div class="grid-item">
          <h2><b>Intérprete</b></h2>
          <p>
            Un intérprete es un programa que ejecuta código fuente línea por
            línea sin generar un archivo ejecutable. Esto facilita la depuración
            y permite una ejecución interactiva, aunque puede ser más lento que
            un compilador. Lenguajes como Python y JavaScript utilizan
            intérpretes para ejecutar sus programas.
          </p>
        </div>
        <div class="grid-item">
          <h2><b>Lenguaje Formal</b></h2>
          <p>
            Un lenguaje formal es un conjunto de cadenas de símbolos definidos
            por reglas precisas, utilizadas en lógica, matemáticas y
            computación. Se emplea en el diseño de lenguajes de programación y
            protocolos de comunicación, garantizando estructuras bien definidas
            y comprensibles por máquinas y humanos.
          </p>
        </div>
        <div class="grid-item">
          <h2><b>Gramática</b></h2>
          <p>
            Una gramática es un conjunto de reglas que describen cómo se pueden
            formar expresiones válidas en un lenguaje formal. Se usa en la
            construcción de lenguajes de programación y define la estructura
            correcta de las instrucciones que el compilador o intérprete debe
            procesar.
          </p>
        </div>
      </div>
      <div class="section">
        <div class="text">
          <h1>Frameworks y Herramientas</h1>
        </div>
      </div>
      <div class="section">
        <div class="text">
          <h2>Django</h2>
          <p>
            Django es un framework web de código abierto basado en Python,
            diseñado para facilitar el desarrollo rápido de aplicaciones web
            seguras y escalables. Utiliza el patrón Modelo-Vista-Controlador
            (MVC). Proporciona herramientas para la gestión de bases de datos,
            autenticación de usuarios y generación de interfaces de
            administración, entre otras funcionalidades.
          </p>
        </div>
        <div class="image">
          <img
            src="{% static 'imagenes/django.png' %}"
            alt="Diagrama de autómata de pila"
          />
        </div>
      </div>
      <div class="section">
        <div class="text">
          <h2>Render</h2>
          <p>
            Un compilador es un programa que traduce código fuente escrito en un
            lenguaje de alto nivel a un lenguaje de bajo nivel, como el código
            de máquina. Este proceso ocurre antes de la ejecución, permitiendo
            que el programa se ejecute de manera independiente sin necesidad del
            código original.
          </p>
        </div>
        <div class="image">
          <img
            src="{% static 'imagenes/render.png' %}"
            alt="Diagrama de autómata de pila"
          />
        </div>
      </div>
      <div class="section">
        <div class="text">
          <h2>GitHub</h2>
          <p>
            Un compilador es un programa que traduce código fuente escrito en un
            lenguaje de alto nivel a un lenguaje de bajo nivel, como el código
            de máquina. Este proceso ocurre antes de la ejecución, permitiendo
            que el programa se ejecute de manera independiente sin necesidad del
            código original.
          </p>
        </div>
        <div class="image">
          <img
            src="{% static 'imagenes/github.png' %}"
            alt="Diagrama de autómata de pila"
          />
        </div>
      </div>
      <div class="section">
        <div class="text">
          <h1>Análisis Léxico</h1>
          <p>
            El análisis léxico es la primera fase en el proceso de compilación o
            interpretación de un programa, encargándose de transformar el código
            fuente en una secuencia de unidades mínimas de significado llamadas
            tokens. Durante esta fase, el analizador léxico escanea el código,
            eliminando espacios en blanco y comentarios, y categorizando cada
            elemento en su respectivo tipo de token
          </p>
          <h2>Token</h2>
          <p>
            Un token es la unidad léxica más pequeña con significado dentro de
            un lenguaje de programación. Cada línea de código está compuesta por
            varios tokens, que pueden representar palabras reservadas,
            identificadores, operadores, números o símbolos especiales.
          </p>
          <ul>
            <li>
              <b>Palabra reservada:</b> Son términos predefinidos en un lenguaje
              de programación y suelen ser palabras reservadas, lo que significa
              que no pueden usarse como identificadores.
            </li>
            <li>
              <b>Identificador:</b> Es el nombre que se le asigna a variables,
              funciones, clases, objetos o cualquier entidad definida por el
              usuario en un lenguaje de programación.
            </li>
            <li>
              <b>Números:</b> Representan valores numéricos que pueden ser
              utilizados en cálculos matemáticos y asignaciones de valores.
            </li>
            <li>
              <b>Símbolos especiales:</b> Son caracteres que cumplen funciones
              específicas dentro del lenguaje, como separadores, delimitadores o
              terminadores de expresiones
            </li>
          </ul>
        </div>
        <table class="table">
          <tr>
            <th>Token</th>
            <th>Observación</th>
          </tr>
          <tr>
            <td>Nodo</td>
            <td>Palabra reservada</td>
          </tr>
          <tr>
            <td>Nombre de nodo</td>
            <td>Identificador</td>
          </tr>
          <tr>
            <td>Números enteros positivos</td>
            <td>Números</td>
          </tr>
          <tr>
            <td>(</td>
            <td>Símbolos especiales</td>
          </tr>
          <tr>
            <td>Arista</td>
            <td>Palabra reservada</td>
          </tr>
          <tr>
            <td>Peso</td>
            <td>Palabra reservada</td>
          </tr>
          <tr>
            <td>,</td>
            <td>Símbolos especiales</td>
          </tr>
          <tr>
            <td>;</td>
            <td>Símbolos especiales</td>
          </tr>
          <tr>
            <td>Ruta_mínima</td>
            <td>Palabra reservada</td>
          </tr>
          <tr>
            <td>Eliminar_nodo</td>
            <td>Palabra reservada</td>
          </tr>
          <tr>
            <td>Eliminar_arista</td>
            <td>Palabra reservada</td>
          </tr>
          <tr>
            <td>)</td>
            <td>Símbolos especiales</td>
          </tr>
        </table>
      </div>
      <div class="section">
        <div class="text">
          <h1>Análisis Sintáctico</h1>
          <p>
            El análisis sintáctico es la fase de un compilador o intérprete que
            verifica si una secuencia de tokens cumple con las reglas
            gramaticales de un lenguaje de programación. Se basa en gramáticas
            libres de contexto y suele representarse mediante árboles de
            derivación o autómatas de pila. Su objetivo es estructurar
            correctamente la entrada para que pueda ser interpretada o ejecutada
            sin errores.
          </p>
          <h2>Autómata a Pila</h2>
          <p>
            Un autómata de pila es un modelo computacional que extiende los
            autómatas finitos al incorporar una pila, permitiéndole reconocer
            gramáticas más complejas, como las libres de contexto.
          </p>
          <ul>
            <li>
              <b>Estados:</b> Representan las distintas fases del procesamiento
              de la entrada.
            </li>
            <li>
              <b>Transiciones:</b> Indican cómo cambia el autómata de un estado
              a otro en función de un símbolo de entrada.
            </li>
            <li>
              <b>Pila:</b> Estructura de datos que sigue el principio LIFO (Last
              In, First Out), lo que significa que el último elemento en entrar
              es el primero en salir.
            </li>
          </ul>
        </div>
        <div class="image large-image">
          <img
            src="{% static 'imagenes/Automatapila.png' %}"
            alt="Diagrama de autómata de pila"
          />
        </div>
      </div>
    </div>
  </body>
</html>
