{% load static %}  <!-- Esto carga los archivos estáticos en Django -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
    <link rel="stylesheet" href="{% static 'analizador/CSS/styles.css' %}">
</head>
<body>
    <h1>Pagina de inicio</h1>
    <p>Por ahora este sera un html basico</p>

    <p>Confio en melendez carreara en todo el proyecto con su bendito ponderado</p>
    <img src="{% static 'analizador/imagenes/BPonde.png' %}" alt="Imagen de prueba" width="300">
    <br>
    <a href="{% url 'about' %}" class="btn">Saber más sobre el analizador</a>
</body>
</html>
