{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Visualización de Grafos</title>
    <script src="https://unpkg.com/vis-network@9.1.2/standalone/umd/vis-network.min.js"></script>
    <script src="{% static 'js/graph_editor.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/css1.css' %}" />
  </head>


  <body>
    <header>
        <nav class="rectangle1">
          <a href="{% url 'about' %}" class="header-link"
            >{% translate "Documentación" %}</a
          >
          <a
            href="https://github.com/CladioGM-16/Proyecto-LYC-V1.git"
            class="header-link"
            >GitHub</a
          >
          <a href="{% url 'info_grafos' %}" class="header-link"
            >{% translate "Sobre los Grafos" %}</a
          >
          
          <div class="language-container">
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ request.path }}">
                <select name="language" onchange="this.form.submit()" id="language-select">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
            </form>
        </div>
        </nav>
      </header>

<main>
    <h1>Visualización de Grafos</h1>

    <button id="editModeNodesBtn" onclick="toggleEditModeNodes()">
      Modo Agregar Nodos
    </button>
    <button id="editModeEdgesBtn" onclick="toggleEditModeEdges()">
      Modo Agregar Aristas
    </button>
    <button id="editModeDeleteBtn" onclick="toggleEditModeDelete()">
      Modo Eliminar
    </button>
    <button id="ejecutarDijkstra">Ejecutar Dijkstra</button>

    <div id="mynetwork"></div>
</main>
    
    <footer>
        <p> {% translate "Diseñada por LyCenciados Corruptos" %}</p>
    </footer>

  </body>

</html>
